
/* 
    Created on : 21 Mar 2016, 11:03:34 AM
    Author     : Anja
*/

#nav_header{
    border-radius: 0;
    border: 0;
}
#col_header{
    font-weight: bold;
}
#col_css {
    background-color: lightblue;
}
#dropdown_nav {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: lightcyan;
}

